Variables with measured or count data might have thousands of distinct values. A basic step in
exploring your data is getting a “typical value” for each feature (variable): an estimate of where
most of the data is located (i.e., its central tendency)

In [2]:
import pandas as pd

In [12]:
df = pd.read_csv('datasets/bangalore_crimes.csv', header=1)
df = df.iloc[:,[1,2,3]]
columns = df.columns.tolist()
columns[0] = 'Year'
df.columns = columns
df=df.dropna()
df

                Year  Fatal  Non fatal
0               2014  711.0     4293.0
1               2015  714.0     4114.0
2               2016  754.0     4579.0
3               2017  609.0     4455.0
4               2018  663.0     3948.0
5               2019  746.0     3938.0
6               2020  622.0     2614.0
7  2021 ( Up to Dec)  618.0     2593.0

In [17]:
print(f"Mean fatal crimes in bangalore {df['Fatal'].mean()}")
print(f"Median fatal crimes in bangalore {df['Fatal'].median()}")

Mean fatal crimes in bangalore 679.625
Median fatal crimes in bangalore 687.0